platform_type: Bigcommerce
object_types:
  order:
    record_key: 'Order ID'
    pipeline_stages:
      - TopLevelAttributes
      - LineItems
      - AddressesAttribute
      - Transactions

extract_configuration:
  soap:
    hostname:
    username:
    api_key:
  database:
    host:
    port: 3306
    user:
    password:
    database:
